<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" href="#">BuckStar</a>
            <span dropdown>
                <a href id="basic-link" dropdownToggle (click)="false"
                    aria-controls="basic-link-dropdown">{{selectedRegion}}</a>
                <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu show" role="menu"
                    aria-labelledby="basic-link">
                    <li *ngFor="let choice of regions">
                        <span class="dropdown-item" (click)="updateRegion(choice)">{{choice}}</span>
                    </li>
                </ul>
            </span>
        </div>

        <div *ngIf="!isAuth && activeRoute === 'login'">
            <a routerLink="/signup">Signup</a>
        </div>
        <div *ngIf="!isAuth && activeRoute === 'signup'">
            <a routerLink="/login">Login</a>
        </div>
    </div>
</nav>