<div class="container" style="display: flex; justify-content: center;">
    <div class="col-md-10 col-lg-8"
        style="border: 1px solid #D3D3D3; border-radius: 5px; padding: 30px; margin-top: 50px;">
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="staticEmail" [(ngModel)]="email">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" [(ngModel)]="password">
            </div>
        </div>
        <div class="row" style="justify-content: center;">
            <div class="col-sm-6">
                <button type="button" class="btn btn-primary" style="width: 100%;" (click)="logUserIn()">
                    Login
                </button>
            </div>
        </div>
    </div>
</div>