<div class="container">
    <div class="col-md-10 col-lg-8" style="border: 1px solid #D3D3D3; border-radius: 5px; 
                padding: 30px; margin-top: 50px;
                display: flex; justify-content: space-between;">

        <div style="margin: 5px">
            <button class="btn btn-primary" (click)="backToProfile()">Back</button>
        </div>

        <table class="col-8">
            <thead>
                <th>
                    Item
                </th>
                <th>
                    Price
                </th>
            </thead>
            <tbody>
                <tr>
                    <td> Coffee</td>
                    <td> € 3 </td>
                </tr>
                <tr>
                    <td>Croissant</td>
                    <td>€ 5</td>
                </tr>
                <tr>
                    <td>Redeemable Coins</td>
                    <td>{{user.coins}}</td>
                </tr>
                <tr>
                    <td>Redeem Coins?</td>
                    <td>
                        <input type="checkbox" [(ngModel)]="isCoinRedeem">
                    </td>
                </tr>
                <tr>
                    <td><b>Total</b></td>
                    <td><b> {{8 - (isCoinRedeem ? (user.coins / 100) : 0)}}</b></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td>
                        <button class="btn btn-success" (click)="onPayment()">Pay</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>