<div class="container">

    <div class="col-md-10 col-lg-8" style="border: 1px solid #D3D3D3; border-radius: 5px; 
                padding: 30px; margin-top: 50px;
                display: flex; justify-content: space-between;">


        <div
            style="border: 1px solid #D3D3D3; border-radius: 50px; height: 100px; width: 100px; background-color: cadetblue; text-align: center; display: flex; align-items: center;justify-content: center;">
            <span>
                <h1 style="color: aliceblue;">S</h1>
            </span>
        </div>
        <div class="col-9" style="border: 1px solid #D3D3D3; border-radius: 5px; padding: 10px">
            <div class="row" style="margin-top: 5px;">
                <div class="col-3">
                    <label for="name" style="font-weight: bold;">
                        Name :
                    </label>
                </div>
                <div class="col-8">
                    <p>{{user.name}}</p>
                </div>

            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="col-3">
                    <label for="email" style="font-weight: bold;">
                        Email :
                    </label>
                </div>
                <div class="col-8">
                    <p>{{user.email}}</p>
                </div>
            </div>
            <div class="row" style="display: flex; align-items: center;" style="margin-top: 5px;">
                <div class="col-3">
                    <label for="loyalty" style="font-weight: bold;">
                        Loyalty ID :
                    </label>
                </div>
                <div class="col-8">
                    <ng-template [ngIf]="user.is_loyalty">
                        <div class="row">
                            <p class="col-6">
                                {{user.loyalty_card_id}}
                            </p>
                            <div class="col-6">
                                <p>
                                    Coins Earned : {{user.coins}}
                                </p>
                            </div>
                        </div>
                        <div class="col-4" *ngIf="!isLoyaltyManage">
                            <button type="button" class="btn btn-primary" (click)="getLoyaltyUsers()">
                                Manage
                            </button>
                        </div>
                    </ng-template>
                    <ng-template [ngIf]="!user.is_loyalty">
                        <button type="button" class="btn btn-primary" style="width: 100px;" (click)="getLoyalty()">
                            Register
                        </button>
                    </ng-template>
                </div>
            </div>
            <ng-template [ngIf]="isLoyaltyManage">
                <div class="row" style="margin-top: 5px; align-items: center;">
                    <div class="col-4">
                        <label for="family_email_1" style="font-weight: bold;">
                            Family Member 1 :
                        </label>
                    </div>
                    <div class="col-7">
                        <input type="family_email_1" class="form-control" [(ngModel)]="family_emails[0]">
                    </div>
                </div>
                <div class="row" style="margin-top: 5px;">
                    <div class="col-4">
                        <label for="email" style="font-weight: bold;">
                            Family Member 2 :
                        </label>
                    </div>
                    <div class="col-7">
                        <input type="family_email_1" class="form-control" [(ngModel)]="family_emails[1]">
                    </div>
                </div>
                <div class="row" style="margin-top: 5px;">
                    <div class="col-4">
                        <label for="email" style="font-weight: bold;">
                            Family Member 3 :
                        </label>
                    </div>
                    <div class="col-7">
                        <input type="family_email_1" class="form-control" [(ngModel)]="family_emails[2]">
                    </div>
                </div>
                <div class="row" style="margin-top: 5px;">
                    <div class="col-4">
                        <label for="email" style="font-weight: bold;">
                            Family Member 4 :
                        </label>
                    </div>
                    <div class="col-7">
                        <input type="family_email_1" class="form-control" [(ngModel)]="family_emails[3]">
                    </div>
                </div>
                <div class="row" style="margin-top: 5px">
                    <button type="button" class="btn btn-primary col-2" (click)="addUsersToLoyalty()">
                        Add
                    </button>
                    <button type="button" class="btn btn-danger col-4" style="margin-left: 2px;"
                        (click)="isLoyaltyManage = false">
                        Cancel
                    </button>
                </div>

            </ng-template>
        </div>
    </div>
    <div class="row" style="margin: 10px">
        <div class="col-md-10" style="text-align: center;">
            <button class="btn btn-primary" (click)="getHistory()"> Purchase History </button>
            <button class="btn btn-success" style="margin-left: 5px;" (click)="redirectToPurchase()"> Make Purchase
            </button>
        </div>
    </div>
    <div class="row" *ngIf="showHistory">
        <div class="col-md-10 col-lg-8" style="border: 1px solid #D3D3D3; border-radius: 5px; 
        padding: 30px; margin-top: 50px;
        display: flex; justify-content: space-around;">

            <table style="width: 80%;">
                <thead>
                    <th>
                        Date
                    </th>
                    <th>
                        Coins
                    </th>
                    <th>
                        Price
                    </th>
                </thead>
                <tbody>
                    <tr *ngFor="let t of userTransactions">
                        <td>{{ t.timestamp | date }}</td>
                        <td> {{t.coins}}</td>
                        <td> {{t.price}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>